/*Chloe Vanhoof */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*Mobile*/


header{
    background-image:linear-gradient(to bottom, rgb(168, 212, 223), rgba(255,255,255,1));
}

#skip{
    position:absolute;
    left:-1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
}


 .sr-only{
    display:none;
 }


/*Menu*/
nav{
    background-color:#F6D64A;
    font-family: "Montserrat", sans-serif; 
    font-weight:bold;
    width:130px;
    position: absolute;
    top:20px;
    left:180px;
    
}

header img{
    width:50%
}
body,h2,ul,li,a,label{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#menu-toggle{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
}

 #toggle{
    display:none;
 }

 label [for="toggle"]{
    cursor:pointer;
    font-size: 18px;
    color:fff;
    display:inline-block;
    padding: 10px;
    
 }

 ul{
    list-style-type: none;
    width: 100%;
    display:none;
    flex-direction: column;
 }

 ul li{
    border-top: 1px solid #444;
 }

 ul li:first-child{
    border-top: none;
 }

 ul li a {
    display:block;
    padding: 10px;
    color:#fff;
    text-decoration: none;
 }

 #toggle:checked +label + ul{
    display:flex;
    align-items: center;
    width:150px;
    background-color:#55BCD5;
 }

 #toggle:checked +label{
    display:flex;
    padding-left:50px;
    padding-top: 10px;
    width:150px;
    height:40px;
    background-color:black;
    color:white;
 }


 ul li .active a{
    background-color:#55BCD5;
 }
 



h1, h2, h3 {
    font-family: "Molle", cursive; 
}

p{
    font-family: "Montserrat", sans-serif; 
}

#intro p{
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 160%;
}

h1{
    font-size: 48px;
    margin:12px;
    padding-left: 8px;
}

h2{
    font-size: 48px;
    padding-left:24px;
    padding-top: 40px;
}

h3{
    font-size: 32px;
    padding-left:24px;
}

h4{
    font-family: "Montserrat", sans-serif;
    font-weight: bold ;
    font-size:18px;
    text-transform:uppercase;
    
}

header{
    display:flex;
    flex-direction: column;
    
}

header>p{
    font-size:24px;
    padding-left:24px;
    padding-right:16px;
    padding-bottom:60px;
}


/*Plan Section*/

#plan>h3{
    padding-top:24px;
    padding-bottom:24px;
}


#plan{
    background-color: #F6D64A;
    max-width:400px;
    padding-left:35px;
    
}

#plan>div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
}

#plan>div>section{
    background-color:#55BCD5;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    width:200px;
    height:200px;
    padding:20px;
    margin-top:12px;
    margin-bottom:12px;
    border-radius:24px;
    border: 5px solid white;
    
}

#plan>div>section>a>img{
    width:130px;
    height:130px;
}


/*Testimonials Section*/

#testimonials{
    background-color:white;
    padding-bottom:24px;
}

#testimonials h3{
     padding-top:24px;
    padding-bottom:24px;
    padding-left: 36px;
    font-size: 24px;
    
}

#testimonials h4{
    font-weight:bold;
    padding-top:12px;
}

#testimonials>div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:30px;
    
}

#testimonials>div>section{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

#testimonials>div>section>img{
    width:150px;
    height:150px;
}

#testimonials>div>section>p{
    font-size:16px;
    padding-top:8px;
    
    
}

q{
    font-family: "Montserrat", sans-serif;
    font-style:italic;
    font-size:16px;
    padding-top:8px;
    padding-left:40px;
    padding-right:18px;
    text-align:center;
}


/*About Section*/

#about{
    background-color:#499BD2;
    
}

#about h3{
    padding-top:12px;
    padding-left:36px;
    padding-bottom:16px;
}

#about>div{
    display:grid;
    grid-template-columns: 120px 120px;
    gap:20px;
    padding-left:24px;
    padding-bottom:24px;

}

#about>div>section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
}

#about>div>section>img{
    width:100px;
    height:100px;
}

#about>div>section>h4{
    font-size: 18px;
 }
 
#about>div>section>p{
   font-size: 16px;
}


/*Contact Section*/

#contact{
    background-color:white;
}
#contact h3{
    padding-top:24px;
    padding-bottom:16px;
}
form{
    width:260px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.form-required{
    font-family: "Montserrat", sans-serif;
    font-style:italic;
    font-size:16px;
}

#names, #nums , #selects{
    display:flex;
    flex-direction:column;
}

#names>label{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    padding-top:12px;
    padding-bottom:4px;

}

#nums>label{
    padding-top:12px;
    padding-bottom:4px;
}

#selects>label{
    padding-top:12px;
    padding-bottom:4px;
}

#nums>label,legend{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold;

}

#selects>label{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold;

}

fieldset{
    display:flex;
    flex-direction: column;

}

fieldset, input{
    font-family: "Montserrat", sans-serif;
}

#nums{
    padding-top:12px;
}
input{
    border: 1px solid #9B26B0;
    height:36px;
    
}

.required{
    color:#9B26B0
}

select{
    width:100%;
    border:1px solid #9B26B0;
    border-radius:0.25em;
    height:40px;
    font-family: "Montserrat", sans-serif;

}

#mySubmit{
 background-color:#9B26B0;
 color:white;
 margin-top: 20px;
 margin-bottom:20px;
}

footer{
    background-color:#EAEAEA;
    padding-top:20px;
    margin-top:20px;
    max-width:100%;
    height:100px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    font-family:"Montserrat", sans-serif;

}

footer p{
    font-size:14px;
}

footer a{
    font-size:14px;
    text-decoration:none;
    color:black;
}


/*start medium width styles 768px*/
 @media screen and (min-width: 768px){


/*Header section*/
    header{
    background-image:linear-gradient(to bottom, rgb(168, 212, 223), rgba(255,255,275,1));
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 75px 75px ;

}


header>p{
    grid-row-start:2;
    grid-column-start:2;
    padding-bottom: 0;
}

header img{
    width:100%;
}

header h1{
    padding-top:12px;
}


#menu-toggle{
    display:flex;
    flex-direction:row;
    align-items: center;
    padding-top:12px;
    
}

label[for="toggle"] {
    visibility:hidden;
}

nav{
    background-color:transparent;
    position:unset;
    grid-row-start:3;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    
}


ul{

    display:flex;
    flex-direction:row;
    align-items:space-between;
    gap:30px;
    padding: 0;
    margin:0;
    
}

ul li a{
    width:130px;
    height:40px;
    background-color:#fff;
    color:black;
    border:none;
}

ul li{
    border:none;
}

ul-li:first-child{
    display:none;
}

/*Intro Section*/

#intro{
    max-width: 700px;
    margin:auto;
}

#img-grid>img{
    max-width:350px;
    
}

#img-grid>picture>img{
    width:710px;
}


#img-grid{
    display:grid;
    grid-template-columns: 350px 350px;
    gap:12px;

}



/*Plan Section*/

#plan{
    max-width:768px;
    padding-bottom: 24px;
}

#plan h3{
    padding-left:75px;
    padding-bottom: 0px;
}

#plan div{
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 280px 280px;
    grid-gap:0;
}

#plan>div>section{
    width:225px;
}

/*Testimonials Section*/

#testimonials{
    max-width:768px;
    padding-bottom:0px;
}

#testimonials>div{
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 375px 375px;
    grid-gap:0;
}

#testimonials>div>section>img{
    width:225px;
    height:225px;
}

#testimonials h3{
    font-size:32px;
    padding-left:100px;
    padding-bottom: 16px;
}

/*About Section*/

#about div{
    display:flex;
    flex-direction: columns;
    gap:20px;
    padding-left: 100px;
}

#about h3{
    padding-left:100px;
    padding-top:20px;
    padding-bottom:20px;
}

/*Contact form Section*/

form{
    width:500px;
    margin:auto;
}

#contact h3{
    padding-left: 140px;
    padding-bottom:0;
}

fieldset{
    display:flex;
    flex-direction: row;
    gap:100px;
}

#mySubmit{
    width:200px;
    margin-left:300px;
}

 }

 /*start large width styles 1920px*/


 @media screen and (min-width: 1920px){


header{
    background-image:linear-gradient(to bottom, rgb(128, 204, 223), rgba(255,255,255,1));
    display:grid;
    grid-template-columns:200px 1000px 700px;
    grid-template-rows: 100px 75px;
}

header img{
    width:200px;
    height:100px;
}

nav{
    grid-row-start:1;
    grid-column-start:3;
}

 /*Intro section*/
#intro{
    margin:0;
    padding-left:200px;
    width: 1600px;
    height: 800px;
    display:grid;
    grid-template-columns: 600px 100px 700px;
    grid-template-rows: 100px 100px;
    
   

}

#intro p{
    grid-column-start: 1;
    grid-row-start: 2;
    
    
}

#img-grid{
    grid-column-start:3;
    grid-template-columns: 425px 425px;
    gap:20px;
    
}

#img-grid>img{
   max-width:425px;
   height:auto;
   
}

#img-grid>picture>img{
    width:870px;
}


 /*Plan section*/

 #plan{
    max-width:1920px;
    height:500px;
    
 }

 #plan div{
    width:1825px;
    display:flex;
    flex-direction:row;
    gap:30px;
    justify-content:center;
 }

 #plan div section{
    width:350px;
    height:350px;
 }

 #plan>div>section>a>img{
    width:250px;
    height:250px;
 }

 #plan>div>section>a>h4{
    font-size:48px;
    
 }

 /*Testimonials section*/

 #testimonials{
    max-width:1920px;
    height:500px; 
 }

 #testimonials div{
    width:1825px;
    display:flex;
    flex-direction:row;
    gap:80px;
    justify-content:center;
 }

 #testimonials div section{
    width:350px;
    height:350px;
 }
 

 }















    
 