/*Chloe Vanhoof */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*Mobile*/


html{
    background-image:linear-gradient(to bottom, rgb(168, 212, 223), rgba(255,255,255,1));
}

#skip{
    position:absolute;
    left:-1000px,
    top: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
}



h1, h2, h3 {
    font-family: "Molle", cursive; 
}

p{
    font-family: "Montserrat", sans-serif;
    font-size:24px;
    
    
}

h1{
    font-size: 48px;
    margin:12px;
    padding-left: 8px;
}

h2{
    font-size: 48px;
    padding-left:24px;
}

h3{
    font-size: 32px;
    padding-left:24px;
}

h4{
    font-family: "Montserrat", sans-serif;
    font-weight: bold ;
    font-size:18px;
    text-transform:uppercase;
    
}

header{
    display:flex;
    flex-direction: column;
    
}

header>p{
    font-size:24px;
    padding-left:24px;
    padding-right:16px;
    padding-bottom:60px;
}


/*Plan Section*/

#plan>h3{
    padding-top:24px;
    padding-bottom:24px;
}


#plan{
    background-color: #F6D64A;
    max-width:400px;
    padding-left:35px;
    
}

#plan>div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
}

#plan>div>section{
    background-color:#55BCD5;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    width:200px;
    height:200px;
    padding:20px;
    margin-top:12px;
    margin-bottom:12px;
    border-radius:24px;
    border: 5px solid white;
    
}

#plan>div>section>a>img{
    width:130px;
    height:130px;
}


/*Testimonials Section*/

#testimonials{
    background-color:white;
    padding-bottom:24px;
}

#testimonials h3{

    padding-top:24px;
    padding-bottom:24px;
    padding-left: 36px;
    font-size: 24px;
    
}

#testimonials h4{
    font-weight:bold;
    padding-top:12px;
}

#testimonials>div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:30px;
    
}

#testimonials>div>section{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

#testimonials>div>section>img{
    width:150px;
    height:150px;
}

#testimonials>div>section>p{
    font-size:16px;
    padding-top:8px;
    
    
}

q{
    font-family: "Montserrat", sans-serif;
    font-style:italic;
    font-size:16px;
    padding-top:8px;
    padding-left:40px;
    padding-right:18px;
    text-align:center;
}


/*About Section*/

#about{
    background-color:#499BD2;
    
}

#about h3{
    padding-top:12px;
    padding-left:36px;
    padding-bottom:16px;
}

#about>div{
    display:grid;
    grid-template-columns: 120px 120px;
    gap:20px;
    padding-left:24px;
    padding-bottom:24px;

}

#about>div>section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
}

#about>div>section>img{
    width:100px;
    height:100px;
}

#about>div>section>h4{
    font-size: 18px;
 }
 
#about>div>section>p{
   font-size: 16px;
}


/*Contact Section*/

#contact{
    background-color:white;
}
#contact h3{
    padding-top:24px;
    padding-bottom:16px;
}
form{
    width:260px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.form-required{
    font-family: "Montserrat", sans-serif;
    font-style:italic;
    font-size:16px;
}

#names, #nums , #selects{
    display:flex;
    flex-direction:column;
}

#names>label{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold;

}

#nums>label,legend{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold;

}

#selects>label{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight:bold;

}

fieldset{
    display:flex;
    flex-direction: column;

}

fieldset, input{
    font-family: "Montserrat", sans-serif;
}

#nums{
    padding-top:12px;
}
input{
    border: 1px solid #9B26B0;
    height:36px;
    
}

.required{
    color:#9B26B0
}